body {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  font-weight: normal;
  font-size: 17px;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  line-height: 18px;
}

html,
body {
  min-width: 940px;
  min-height: 3151px;
}

.inner-page {
  background-color: #fff;
  color: #000000;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.site-navigation,
.user-navigation,
.category-list,
.catalog-list,
.tabs-nav,
.tabs-list,
.company-list,
.footer-navigation,
.footer-catalog {
  list-style: none;
}

.main-header {
  margin-bottom: 59px;
  background-color: #f4f7f9;
}



.navigation-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.upper-container {
  margin-bottom: 46px;
  width: 100%;
  background-color: #293449;
}

.container-wrapper {
  padding: 0 130px;
  width: 960px;
  height: 42px;
}

.upper-container .container-wrapper {
  display: flex;

  justify-content: space-between;
}

.navigation-wrapper .navigation {
  display: flex;

  justify-content: ;
}


.logo {
  margin: 0;
  padding: 14px 0;
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 24px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.shop-list:hover,
.basket:hover {
  background-color: #212a3a;
}



.navigation-wrapper .search {
  position: relative;
  margin: 0;
  padding: 0;
  width: 270px;
  vertical-align: middle;
  white-space: nowrap;
}

.search input.main-search {
  padding-left: 49px;
  width: 221px;
  height: 42px;
  border: none;
  background: #293449;
  color: black;
  font-size: 17px;
}

.search input.main-search:hover {
  background-color: #212a3a;
}

.search input.main-search:focus,
.search input.main-search:active {
  outline: none;
  background: #ffffff;
}

input[type="search"]::placeholder {
  color: white;
  font-size: 17px;
  line-height: 18px;
  opacity: 1;
}

input[type="search"]:-ms-input-placeholder {
  color: white;
}

input[type="search"]::-ms-input-placeholder {
  color: white;
}

.upper-container .navigation {
  background-color: #293449;
}

.navigation-wrapper .navigation {
  margin: 0;
  padding: 0;
  width: 450px;
  height: 42px;
}

.navigation a {
  color: #fff;
}

.navigation div {
  padding-top: 14px;
  width: 150px;
  height: 42px;
  text-align: center;
}

.shop-list:active,
.basket:active {
  background-color: #161d29;
  color: rgba(0, 0, 0, 0.6);
}

.checkout {
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
  color: rgba(0, 0, 0, 0.5);
}

.login-wrapper {
  padding-left: 183px;
  width: 100%;
}

.login-wrapper .wrapper {
  display: flex;

  justify-content: space-around;
}

.description {
  width: 196px;
  height: 60px;
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.phone {
  width: 270px;
  border: 2px solid white;
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
}

.adress {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  background-color: #f4f7f9;
}

.user-navigation a {
  background-color: white;
  color: black;
  font-size: 21px;
  line-height: 21px;
}

.login-link a {
  color: #000000;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
}

.user-order a,
.user-room a {
  background-color: #f1f5f7;
  color: #32425c;
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.user-order a:hover,
.user-room a:hover {
  color: #ee3643;
}

.user-order a:active,
.user-room a:active {
  color: #32425c;
  opacity: 0.3;
}

.login-link a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-link:hover,
.login-registration:hover {
  color: #ee3643;
}

.login-link:active,
.login-registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  margin-bottom: 60px;
  padding: 0;
  width: 940px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
}

.site-navigation a {
  color: #fff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(250, 250, 250, 0.5);
}

.container {
  background-color: #fff;
  font-family: "PT Sans", Arial, sans-serif;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.page-title {
  width: 940px;
  height: 89px;
  background-color: #f2f6f8;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  line-height: 30px;
}

.filters h3 {
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  font-family: inherit;
  line-height: 18px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  font-family: inherit;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-option label {
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  font-family: inherit;
  line-height: 20px;
}

/* здесь надо будет подумать, как сделать кнопки отдельным цветом от текста */

.filter-input:hover + label,
.filter-input:focus + label {
  color: #b5b5b5;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.4;
}


.filter-button {
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  font-family: inherit;
  line-height: 18px;
}

.toolbar {
  background-color: #f7f3ec;
}

.sort-bar {
  list-style: none;
}

.sort-bar:first-child {
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sort-bar-item a,
.sort-bar-item-2 a {
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sort-bar-item a:hover,
.sort-bar-item-2 a:hover {
  border-bottom: 1px solid #ee3643;
  color: #000000;
}


.sort-bar-item a:active,
.sort-bar-item-2 a:active {
  border: none;
  color: #ee3643;
}



.category-list h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.btn {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}


.list-1,
.list-5 {
  background-color: #ffbf47;
}

.list-2 {
  background-color: #3bbce3;
}

.list-3 {
  background-color: #dc91d8;
}

.list-4 {
  background-color: #8ed78f;
}

.slider {
  background-color: #f4f7f9;
}

.slider h2 {
  color: white;
  font-size: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 36px;
}

.slider p {
  font-size: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
}

.slider-arrow .slider-button {
  width: 22px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: white;
}

.slider-button-back {
  background-image: url(../img/icon-left.svg);
}

.slider-button-next {
  background-image: url(../img/icon-right.svg);
}


.button {
  border: none;
  border-radius: 1px;
  background-color: #ee3643;
  color: white;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
}

.slide .button:hover {
  background-color: #ca2c37;
}

.slide .button:active {
  background-color: #ba2732;
}

.slider-list li {
  width: 620px;
  height: 266px;
  list-style: none;
}

.slider-list li:nth-child(1) {
  background-image: url(../img/slider-2.jpg);
}

.slider-list li:nth-child(2) {
  background-image: url(../img/slider-1.jpg);
}

.headline {
  background-color: #f9f5f0;
}

.headline h2 {
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.catalog-item {
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog-item:hover,
.producer-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item h3 {
  width: 155px;
  height: 33px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item-price .old-price {
  width: 67px;
  height: 12px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}


.catalog-item-price .button-price {
  width: 141px;
  height: 38px;
  background-image: url(../img/red-button.svg);
}

.catalog-item-price a {
  width: 65px;
  height: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.hidden-btn {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
}

.hidden-btn a:first-child {
  width: 41px;
  height: 10px;
  background-color: #63a63e;
  box-shadow: inset 0 -2px 0 0 #367315;
  color: #ffffff;
}

.hidden-btn a:last-child {
  width: 67px;
  height: 12px;
  border: 3px solid #63a63e;
  background-color: white;
  color: #32425c;
  color: #32425c;
}

.hidden-btn a:first-child:hover {
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 #367315;
}

.hidden-btn a:first-child:active {
  background-color: #518534;
}

.hidden-btn a:last-child:hover {
  border: 3px solid #32425c;
  background-color: white;
  color: #32425c;
}

.hidden-btn a:last-child:active {
  border: 3px solid rgba(50, 66, 92, 0.3);
  background-color: white;
  color: rgba(50, 66, 92, 0.3);
}

.producer-list {
  margin-top: 20px;
  margin-bottom: 85px;
}

.producer-item {
  margin-top: 20px;
  width: 220px;
  height: 145px;
}

.producer-item:active {
  width: 220px;
  height: 145px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.service {
  background-color: #f2f6f8;
  font-family: "Cuprum", Arial, sans-serif;
}

.service h2,
.about-company h2 {
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.service h3 {
  color: #32425c;
  font-weight: normal;
  font-size: 36px;
  font-family: inherit;
  font-family: inherit;
  line-height: 36px;
}

.service p,
.about-company p {
  color: black;
  font-weight: normal;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
}


.tabs-nav {
  background-color: #32425c;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.tabs-nav a {
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.tabs-nav li:hover {
  background-color: #293449;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.tabs-nav a:active,
.tabs-nav a:focus {
  background-color: #ffffff;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  color: #32425c;
}

.tab .button {
  background-color: #ff5357;
}

.company-list {
  color: black;
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.tabs-list h3 {
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.map-close,
.modal-close {
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url(../img/icon-close.svg);
}

.map-popup {
  width: 940px;
  height: 448px;
  box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.35);
}

.modal-contact {
  width: 620px;
  height: 430px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75),
  inset 0 7px 0 0 #ff5357;
}

.modal-form label {
  color: black;
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
}

.modal-item input,
.textarea {
  border: 2px solid #b5b5b5;
  background-color: transparent;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 0;
  border: 2px solid #ee3643;
}

::placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
}

::-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
}

.background-btn {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item a:focus {
  background-color: #ee3643;
  color: #ffffff;
}

.modal {
  width: 620px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75),
  inset 0 7px 0 0 #ff5357;
}

.modal p {
  color: #000000;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}



.modal-background {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.modal-button {
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url(../img/icon-close.svg);
}

.button .checkout {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.button-close {
  width: 220px;
  height: 38px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: inherit;
  line-height: 18px;
}

.seo-text h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  font-family: inherit;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.seo-text {
  height: 261px;
  background-color: #f2f6f8;
}

.seo-text p {
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
}

.main-footer {
  background-color: #32425c;
}

.log {
  margin: 0;
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.log:hover {
  background-color: #ca2c37;
}

.log:active {
  background-color: #ba2732;
}

.footer-contacts,
.footer-navigation a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-catalog a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-catalog a:hover {
  text-decoration: underline;
}

.footer-catalog a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bottom a {
  background-color: #293449;
  color: #ffffff;
}

.footer-copyright {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: #212a3a;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
  background-color: #ee3643;
}

.footer-feedback {
  color: #fff;
  text-align: right;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback a {
  color: #ffd180;
}

.footer-feedback a:hover {
  color: #ffd180;
  text-decoration: underline;
}

.footer-feedback a:active {
  color: #ee3643;
  text-decoration: none;
}
