body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: white;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.site-navigation,
.user-navigation,
.category-list,
.catalog-list,
.tabs-nav,
.tabs-list,
.company-list,
.footer-navigation,
.footer-catalog {
  list-style: none;
}

.main-header {
  background-color: #f4f7f9;
}

.upper-container {
  background-color: #293449;
}

div .logo {
  margin: 0;
}

.logo {
  padding: 14px 0;
  width: 220px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: red;
  box-shadow: inset 0 -5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: inset 0 -5px 0 0 #8e1e26;
}

.shop-list:hover,
.basket:hover {
  background-color: #212a3a;
}

.search {
  width: 270px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search input.main-search {
  width: 270px;
  height: 42px;
  background: #293449;
  border: none;
  font-size: 17px;
  float: left;
  color: black;
  padding-left: 45px;
}

.search input.main-search:hover {
  background-color: #212a3a;
}

.search input.main-search:focus,
.search input.main-search:active {
  outline: none;
  background: #ffffff;
}

input[type="search"]::placeholder {
  color: white;
  opacity: 1;
}

input[type="search"]:-ms-input-placeholder {
  color: white;
}

input[type="search"]::-ms-input-placeholder {
  color: white;
}

.shop-list:active,
.basket:active {
  color: rgba(0, 0, 0, 0.6);
  background-color: #161d29;
}

.checkout {
  padding: 13px 0;
  text-align: center;
  width: 150px;
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(0, 0, 0, 0.5);
  background-color: #518534;
}

.description {
  font-size: 16px;
  line-height: 23px;
  width: 196px;
  color: #ee3643;
  font-style: italic;

}

.phone {
  font-size: 21px;
  line-height: 21px;
  width: 270px;
  color: #e9292a;
  border: 2px solid white;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

}

.user-navigation {
  font-size: 21px;
  line-height: 21px;
  background-color: #f4f7f9;

}

.login-link {
  background-color: white;
  color: black;
}

.login-registration {
  background-color: white;
  color: black;
}

.login-link:hover,
.login-registration:hover {
  color: #ee3643;
}

.login-link:active,
.login-registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(250, 250, 250, 0.5);
  background-color: #1d2739;
}

.container {
  background-color: #fff;
}

.category-list h3 {
  font-size: 24px;
  line-height: 30px;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.list-1,
.list-5 {
  background-color: #ffbf47;
}

.list-2 {
  background-color: #3bbce3;
}

.list-3 {
  background-color: #dc91d8;
}

.list-4 {
  background-color: #8ed78f;
}

.slider {
  background-color: #f4f7f9;

}

.slider h2 {
  font-size: 36px;
  line-height: 36px;
}

.slider p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.slider-arrow .slider-button {
  width: 22px;
  height: 40px;
  color: white;
  background-color: transparent;
  border: none;
}

.slider-button-back {
  background-image: url(/640605-technomart/img/icon-left.svg);

}

.slider-button-next {
  background-image: url(/640605-technomart/img/icon-right.svg);
}


.button {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  color: white;
  border-radius: 1px;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
}

.slide .button:hover {
  background-color: #ca2c37;
}

.slide .button:active {
  background-color: #ba2732;
}

.slider-list li {
  width: 620px;
  height: 266px;
  list-style: none;
}

.slider-list li:nth-child(1) {
  background-image: url(/640605-technomart/img/slider-2.jpg);
}

.slider-list li:nth-child(2) {
  background-image: url(/640605-technomart/img/slider-1.jpg);
}

.headline {
  background-color: #f9f5f0;
}

.headline h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  width: 220px;
  height: 318px;
  border: 1px solid #f9f5f0;
}

.catalog-item:hover,
.producer-item:hover {
  box-shadow: 0 15px 50px -10px #293449;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  width: 190px;
  height: 64px;
  color: #000000;
}

.catalog-item .old-price {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: line-through;
  font-weight: bold;
  color: #a9a9a9;
}

.catalog-item .button-price {
  font-size: 17px;
  line-height: 18px;
  background-image: url(/640605-technomart/img/red-button.svg);
  font-weight: bold;
  color: #ffffff;
}

.hidden-btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.hidden-btn a:first-child {
  background-color: #63a63e;
  box-shadow: inset 0 -2px 0 0 #367315;
}

.hidden-btn a:first-child:hover {
  background-color: #5fbb2d;
}

.hidden-btn a:first-child:active {
  background-color: #518534;
  box-shadow: none;
}

.hidden-btn a:last-child {
  color: #32425c;
  background-color: white;
  border: 3px solid #63a63e;
}

.hidden-btn a:last-child:hover {
  color: #32425c;
  background-color: white;
  border: 3px solid #32425c;
}

.hidden-btn a:last-child:active {
  color: rgba(50, 66, 92, 0.3);
  background-color: white;
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.producer-list {
  margin-top: 20px;
  margin-bottom: 85px;
}

.producer-item {
  margin-top: 20px;
  width: 220px;
  height: 145px;
}

/*  вот тут проблема в фоном картинки, при active */

.producer-item:active {
  background-color: rgba(250, 250, 250, 0.5);
  box-shadow: 0 15px 50px -10px rgba(41, 52, 73, 0.5);
}


.service {
  background-color: #f4f7f9;
}

.service h2,
.about-company h2 {
  font-family: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: black;
}

.service h3 {
  font-family: inherit;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;

}

.service p,
.about-company p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: black;
}


.tabs-nav {
  font-family: inherit;
  font-size: 31px;
  color: white;
  line-height: 30px;
  font-weight: bold;
  background-color: #32425c;
}

.tabs-nav li:hover {
  background-color: #293449;
}

.tabs-nav a:active,
.tabs-nav a:focus {
  background-color: white;
  color: rgb(50, 66, 92);
}

.tab .button {
  background-color: #ff5357;
}

.company-list {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: black;
}

.map-close,
.modal-close {
  width: 21px;
  height: 21px;
  background-image: url(/640605-technomart/img/icon-close.svg);
  background-color: transparent;
  border: none;
}

.modal-contact {
  width: 620px;
  height: 430px;

  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75),
  inset 0 7px 0 0 #ff5357;
}

.modal-form label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: black;
}

.modal-item textarea {
  width: 460px;
  height: 114px;
}

.modal-item input,
.textarea {
  font: inherit;
  background-color: transparent;
  border: 2px solid #b5b5b5;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 0;
  border: 2px solid #ee3643;
}

::placeholder {
  color: #999999;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #999999;
}

::-ms-input-placeholder {
  color: #999999;
}

.main-footer {
  background-color: #32425c;
}

.log {
  padding: 14px 0;
  width: 220px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: red;
  box-shadow: inset 0 -5px 0 0 #b52933;
}

.footer-contacts,
.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-catalog a:hover {
  text-decoration: underline;
}

.footer-catalog a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  background-color: #293449;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: #212a3a;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
  color: white;
  background-color: red;
}

.footer-feedback {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer-feedback a {
  color: #ffd180;
}

.footer-feedback a:hover {
  color: #ffd180;
  text-decoration: underline;

}

.footer-feedback a:active {
  color: #ee3643;
  text-decoration: none;

}
