body {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  font-weight: normal;
  font-size: 17px;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  line-height: 18px;
}

html,
body {
  min-width: 940px;
  min-height: 3151px;
}

.inner-page {
  background-color: #fff;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;

  clip-path: inset(100%);
}

.col-3 {
  max-width: 25%;

  flex: 0 0 25%;
}

.col-4 {
  max-width: 33.333333%;

  flex: 0 0 33.333333%;
}

.col-8 {
  max-width: 66.66667%;

  flex: 0 0 66.66667%;
}

.row {
  display: flex;
  margin: 0 -10px;
  padding: 0;
  list-style: none;

  flex-wrap: wrap;
}

.row > [class^=col-] {
  padding: 0 10px;
}

.site-navigation,
.user-navigation,
.category-list,
.catalog-list,
.tabs-nav,
.tabs-list,
.company-list,
.footer-navigation,
.footer-catalog {
  list-style: none;
}

.main-header {
  margin-bottom: 59px;
  background-color: #f4f7f9;
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.upper-container {
  margin-bottom: 45px;
  width: 100%;
  background-color: #293449;
}

.container-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}

.upper-container .container-wrapper {
  display: flex;

  justify-content: space-between;
}

.navigation-wrapper .navigation {
  display: flex;

  justify-content: flex-end;
}

.logo {
  display: inline-block;
  margin: 0;
  margin-bottom: -5px;
  padding: 12px 55px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  color: white;
  vertical-align: baseline;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 24px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.shop-list:hover,
.basket:hover {
  background-color: #212a3a;
}

.navigation-wrapper .search {
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: nowrap;
}

.navigation-wrapper .search::before {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  opacity: 0.3;
}

.navigation-wrapper .search:hover::before,
.navigation-wrapper .search:focus::before,
.navigation-wrapper .search:active::before {
  opacity: 1;
}

.search input.main-search {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
  width: 270px;
  border: none;
  background: #293449;
  color: black;
}

.search input.main-search:hover {
  background-color: #212a3a;
}

.search input.main-search:focus,
.search input.main-search:active {
  outline: none;
  background: #ffffff;
}

input[type="search"]::placeholder {
  color: white;
  font-size: 17px;
  line-height: 18px;
  opacity: 1;
}

input[type="search"]:-ms-input-placeholder {
  color: white;
}

input[type="search"]::-ms-input-placeholder {
  color: white;
}

.upper-container .navigation {
  background-color: #293449;
}

.navigation-wrapper .navigation {
  margin: 0;
  padding: 0;
  width: 450px;
}

.navigation a {
  color: #fff;
}

.shop-list {
  position: relative;
  padding: 12px 28px 12px 44px;
}

.shop-list::before {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  opacity: 0.3;
}

.shop-list:hover::before,
.shop-list:focus::before,
.basket:hover::before,
.basket:focus::before {
  opacity: 1;
}

.shop-list:active::before,
.basket:active::before {
  opacity: 0.5;
}

.basket {
  position: relative;
  padding: 12px 30px 12px 50px;
}

.basket::before {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  opacity: 0.3;
}

.shop-list:active,
.basket:active {
  background-color: #161d29;
  opacity: 0.6;
}

.checkout a {
  display: inline-block;
  margin: 0;
  padding: 13px 20px;
  background-color: #63a63e;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.checkout a:hover {
  background-color: #5fbb2d;
}

.checkout a:active {
  background-color: #518534;
  opacity: 0.6;
}

.login-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.middle-container {
  margin-bottom: 40px;
  width: 100%;
}

.middle-container .container-wrapper {
  display: flex;

  justify-content: space-between;
}

.description {
  margin: 0;
  margin-left: 53px;
  padding: 0;
  width: 196px;
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.phone {
  position: relative;
  margin: 0;
  padding: 10px 0 7px 72px;
  width: 267px;
  border: 2px solid white;
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
}

.phone::before {
  position: absolute;
  top: 9px;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
}

.adress {
  margin: 0;
  padding: 5px 0 0 10px;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.container-wrapper .user-navigation {
  display: flex;
}

.user-navigation {
  margin: 0;
  padding: 0;
  background-color: #f4f7f9;
}

.user-navigation a {
  display: block;
  background-color: white;
  color: #000000;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
}

.login-link a {
  position: relative;
  margin-right: 10px;
  padding: 14px 25px 11px 48px;
}

.login-link a::before {
  position: absolute;
  top: 15px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  opacity: 0.3;
}

.login-link a:hover::before,
.login-link a:focus::before {
  opacity: 1;

  fill: #32425c;
}

.login-link a:active::before {
  opacity: 0.3;
}

.login-registration a {
  padding: 14px 25px 11px 25px;
}

.user-order a,
.user-room a {
  background-color: #f1f5f7;
  color: #32425c;
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.user-order a:hover,
.user-room a:hover {
  color: #ee3643;
}

.user-order a:active,
.user-room a:active {
  color: #32425c;
  opacity: 0.3;
}

.login-link a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-link:hover,
.login-registration:hover {
  color: #ee3643;
}

.login-link:active,
.login-registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  display: flex;

  justify-content: space-between;
}

.site-wrapper {
  padding-bottom: 60px;
}

.container-wrapper .site-navigation {
  margin: 0;
  padding: 0;
  width: 940px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
}

.site-navigation a {
  display: block;
  padding-top: 20px;
  padding-bottom: 24px;
  color: #fff;
  text-align: center;
}

.site-navigation li:first-child {
  padding-left: 52px;
}

.site-navigation li:last-child {
  padding-right: 55px;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(250, 250, 250, 0.5);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.page-title {
  width: 940px;
  height: 89px;
  background-color: #f2f6f8;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  line-height: 30px;
}

.filters h3 {
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  font-family: inherit;
  line-height: 18px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  font-family: inherit;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-option label {
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  font-family: inherit;
  line-height: 20px;
}

/* здесь надо будет подумать, как сделать кнопки отдельным цветом от текста */

.filter-input:hover + label,
.filter-input:focus + label {
  color: #b5b5b5;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.4;
}

.filter-button {
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  font-family: inherit;
  line-height: 18px;
}

.toolbar {
  background-color: #f7f3ec;
}

.sort-bar {
  list-style: none;
}

.sort-bar:first-child {
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sort-bar-item a,
.sort-bar-item-2 a {
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sort-bar-item a:hover,
.sort-bar-item-2 a:hover {
  border-bottom: 1px solid #ee3643;
  color: #000000;
}


.sort-bar-item a:active,
.sort-bar-item-2 a:active {
  border: none;
  color: #ee3643;
}

.category {
  margin-bottom: 10px;
}

.category-list h3 {
  margin: 0;
  padding: 0;
}

.category-list li {
  margin-bottom: 20px;
}

.list-1 {
  position: relative;
  background-color: #ffbf47;
}

.list-1,
.list-2,
.list-3,
.list-4,
.list-5 {
  padding-top: 20px;
  padding-left: 23px;
}

.category-list h3 {
  color: #fff;
  font-size: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.list-1 img {
  position: absolute;
  top: 31px;
  left: 213px;
}

.list-2 {
  position: relative;
  background-color: #3bbce3;
}

.list-2 img {
  position: absolute;
  top: 33px;
  left: 197px;
}

.list-3 {
  position: relative;
  background-color: #dc91d8;
}

.list-3 img,
.list-5 img {
  position: absolute;
  top: 31px;
  left: 191px;
}

.list-4 {
  position: relative;
  margin-bottom: 20px;
  background-color: #8ed78f;
}

.list-4 img {
  position: absolute;
  top: 26px;
  left: 196px;
}

.list-5 {
  position: relative;
  min-height: 123px;
  background-color: #ffbf47;
}

.list-5 .btn {
  padding: 10px 36px;
}

.list-3 .btn {
  padding: 10px 30px;
}

.btn {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 20px;
  padding: 10px 24px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button {
  border: none;
  border-radius: 2px;
  background-color: #ee3643;
  color: white;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
}

.slider-arrow .slider-button {
  width: 22px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.slider-button-back,
.slider-button-next {
  position: absolute;
  width: 22px;
  height: 40px;
  cursor: pointer;
}

.slider-button-back {
  top: 114px;
  left: 25px;
  background-image: url(../img/icon-left.svg);
}

.slider-button-next {
  top: 114px;
  left: 575px;
  background-image: url(../img/icon-right.svg);
}

.slider-nav .active {
  position: absolute;
  top: 220px;
  left: 295px;
  padding: 0px 0px;
  border: solid 5px #ffffff;
  border-radius: 5px;
  background-color: #ee3643;
  color: #ffffff;
  cursor: pointer;
}

.slider-nav .dot {
  position: absolute;
  top: 220px;
  left: 317px;
  padding: 3px 3px;
  border: solid 2px #ffffff;
  border-radius: 5px;
  background: #f00c0c;
  cursor: pointer;
}


.slide-text h2 {
  margin: 0;
  padding: 27px 0 0 24px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.slide-text p {
  margin: 0;
  padding-left: 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;
}


.button-catalog {
  display: inline-block;
  margin: 120px 0 0 25px;
  padding: 10px 50px;
  vertical-align: middle;
}


.slide .button:hover {
  background-color: #ca2c37;
}

.slide .button:active {
  background-color: #ba2732;
}

.slider {
  position: relative;
}

.slider-list {
  padding: 0;
}

.slider-list li {
  min-height: 266px;
}

.slider-list li:nth-child(2) {
  display: none;
}


.slider-list li:nth-child(1) {
  background-image: url(../img/slider-2.jpg);
}

.slider-list li:nth-child(2) {
  background-image: url(../img/slider-1.jpg);
}


.popular-product {
  margin-bottom: 20px;
}

.product-wrapper {
  margin-bottom: 20px;
}


.headline-product {
  display: flex;
  margin: 0;
  padding: 0 24px 0 30px;
  background-color: #f9f5f0;

  justify-content: space-between;
}

.button-product {
  padding: 10px 56px;

  align-self: center;
}

.headline-product h2 {
  margin: 0;
  padding: 32px 0;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.catalog-item {
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
}


.catalog-item:hover,
.producer-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item-image {
  margin: 0 0 35px 0;
  padding: 0;
}

.catalog-item h3 {
  margin: 0 0 10px 0;
  padding: 0 30px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item .only-price {
  margin-bottom: 50px;
}

.catalog-item-price {
  margin: 0;
  padding: 0;
}

.catalog-item-price .old-price {
  display: inline-block;
  margin-bottom: 21px;
  padding-left: 79px;
  color: #a9a9a9;
  vertical-align: baseline;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}


.catalog-item-price a {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding-left: 79px;
  background: #1d2739;
  color: #ffffff;
  vertical-align: baseline;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.button-price::before {
  position: absolute;
  top: -10px;
  left: 43px;
  z-index: 1;
  width: 141px;
  height: 38px;
  background-image: url(../img/red-button.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
}

.catalog-item h3:nth-child(4) {
  margin-bottom: 50px;
}

.hidden-btn {
  display: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
}

.hidden-btn a:first-child {
  width: 41px;
  height: 10px;
  background-color: #63a63e;
  box-shadow: inset 0 -2px 0 0 #367315;
  color: #ffffff;
}

.hidden-btn a:last-child {
  width: 67px;
  height: 12px;
  border: 3px solid #63a63e;
  background-color: white;
  color: #32425c;
  color: #32425c;
}

.hidden-btn a:first-child:hover {
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 #367315;
}

.hidden-btn a:first-child:active {
  background-color: #518534;
}

.hidden-btn a:last-child:hover {
  border: 3px solid #32425c;
  background-color: white;
  color: #32425c;
}

.hidden-btn a:last-child:active {
  border: 3px solid rgba(50, 66, 92, 0.3);
  background-color: white;
  color: rgba(50, 66, 92, 0.3);
}

.headline {
  display: flex;
  padding: 0 24px;
  background-color: #f9f5f0;

  justify-content: space-between;
  align-items: center;
}

.button-producer {
  margin: 25px 0;
  padding: 12px 69px;
}

.headline h2 {
  margin: 32px 0;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.producer-list {
  margin-top: 20px;
  margin-bottom: 85px;
}

.producer-item {
  margin-top: 20px;
  width: 220px;
  height: 145px;
}

.producer-item img {}

.producer-item:active {
  width: 220px;
  height: 145px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.service {
  background-color: #f2f6f8;
  font-family: "Cuprum", Arial, sans-serif;
}

.tabs-nav li {
  background-color: #32425c;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.tabs-nav a {
  display: block;
  padding: 16px 140px 16px 22px;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.tabs-nav li:hover {
  background-color: #293449;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.tabs-nav a:active,
.tabs-nav a:focus {
  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  color: #32425c;
}

.tab .button {
  background-color: #ff5357;
}

.about-company p {
  margin: 0;
  padding-bottom: 25px;
  color: black;
  font-weight: normal;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
}

.about-company h2 {
  margin: 0;
  padding-bottom: 23px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.company-list {
  margin: 0 0 43px 0;
  padding: 0;
  color: black;
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.company-list li {
  position: relative;
  padding-left: 40px;
}

.company-list li::before {
  position: absolute;
  top: 14px;
  left: 5px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  content: "";
}


.company-map p {
  margin-bottom: 10px;
  width: 179px;
}

.button-company {
  display: inline-block;
  padding: 11px 40px;
  vertical-align: middle;
}

.company-map img {
  margin: 0 0 32px 0;
}

.button-map {
  display: inline-block;
  padding: 12px 61px;
  vertical-align: middle;
}



.map-close,
.modal-close {
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url(../img/icon-close.svg);
}

.map-popup {
  width: 940px;
  height: 448px;
  box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.35);
}

.modal-contact {
  width: 620px;
  height: 430px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75),
  inset 0 7px 0 0 #ff5357;
}

.modal-form label {
  color: black;
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
}

.modal-item input,
.textarea {
  border: 2px solid #b5b5b5;
  background-color: transparent;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 0;
  border: 2px solid #ee3643;
}

::placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
}

::-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
}

.background-btn {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item a:focus {
  background-color: #ee3643;
  color: #ffffff;
}

.modal {
  width: 620px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75),
  inset 0 7px 0 0 #ff5357;
}

.modal p {
  color: #000000;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}



.modal-background {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.modal-button {
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url(../img/icon-close.svg);
}



.button-close {
  width: 220px;
  height: 38px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: inherit;
  line-height: 18px;
}

.seo-text h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  font-family: inherit;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.seo-text {
  height: 261px;
  background-color: #f2f6f8;
}

.seo-text p {
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
}

.main-footer {
  margin-top: 86px;
  background-color: #32425c;
}

.log {
  margin: 0 0 28px 0;
  padding: 18px 41px;
  width: 220px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.log:hover {
  background-color: #ca2c37;
}

.log:active {
  background-color: #ba2732;
}

.footer-contacts,
.footer-navigation a {
  margin: 0;
  padding: 0;
  color: #f1f5f7;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-catalog a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-catalog a:hover {
  text-decoration: underline;
}

.footer-catalog a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bottom a {
  background-color: #293449;
  color: #ffffff;
}

.footer-copyright {
  margin: 0;
  padding-bottom: 35px;
  width: 227px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}



.footer-feedback-1 {
  margin: 0;
  padding-left: 40px;
  width: 165px;
  color: #fff;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback-2 {
  margin: 0;
  padding-right: 10px;
  width: 110px;
  color: #fff;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback-1 a,
.footer-feedback-2 a {
  display: inline-block;
  color: #ffd180;
  vertical-align: middle;
}

.footer-feedback-1 a:hover,
.footer-feedback-2 a:hover {
  color: #ffd180;
  text-decoration: underline;
}

.footer-feedback-1 a:active,
.footer-feedback-2 a:active {
  color: #ee3643;
  text-decoration: none;
}


/* Сетки */

.about-company .container-wrapper {
  display: flex;
  padding-top: 80px;

  justify-content: space-between;
}

.hidden {
  display: none;
}

.delivery {
  margin: 0;
  padding: 0;
  width: 500px;
}

.company-map {
  margin: 0;
  padding: 0;
  width: 300px;
  border: none;
}


/* раздел сервисы */

.service-wrapper {
  width: 100%;
  background-color: #f4f8fa;
}

.service-head {
  margin-bottom: 65px;
  padding-top: 18px;
  min-width: 398px;

  align-self: flex-start;
}

.service-head h2 {
  margin-bottom: 25px;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}



.service-head p,
.tab-delivery p {
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: left;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
}

.tab-delivery {
  position: relative;
  padding-bottom: 130px;
}

.slider-2 .tab-delivery {
  width: 379px;
}

.for-img-1::before {
  position: absolute;
  top: 27px;
  left: 150px;
  width: 468px;
  height: 261px;
  background-image: url(../img/delivery.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
}

.for-img-2::before {
  position: absolute;
  top: 0px;
  left: 230px;
  width: 389px;
  height: 283px;
  background-image: url(../img/guarantee.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
}


.for-img-3::before {
  position: absolute;
  top: 0px;
  left: 150px;
  width: 465px;
  height: 285px;
  background-image: url(../img/credit.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
}


.nav-wrapper {
  display: flex;

  justify-content: flex-start;
}

.tabs ul {
  margin: 0 80px 0 0;
  padding: 0;
}

.service-slider {
  margin: 0;
  padding: 0;
}



.tab-delivery h3 {
  margin: 0 0 25px 0;
  padding: 0;
  min-width: 160px;
  color: #32425c;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}

.tab-delivery .button-application {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 44px;
}


/* для footer */

.footer-container {
  margin-bottom: 46px;
  width: 100%;
}

.main-footer .footer-top {
  display: flex;

  justify-content: space-between;
}

.footer-bottom-wrapper .container-wrapper {
  display: flex;
  padding-top: 38px;

  justify-content: space-between;
}

.footer-bottom-wrapper {
  width: 100%;
  background-color: #293449;
}

.footer-nav .footer-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 550px;

  justify-content: space-between;
}

.footer-catalog {
  display: flex;
  margin: 0;
  padding: 0;

  justify-content: space-between;
}

.footer-top-wrapper .footer-contacts {
  margin-bottom: 50px;
}

.footer-navigation li {
  padding-top: 38px;
}

.footer-catalog li {
  padding-top: 35px;
  padding-left: 23px;
}



.social-button {
  display: flex;
  width: 42px;
  height: 42px;

  align-items: center;
  justify-content: center;
}

.footer-social {
  padding-left: 88px;
}

.footer-social ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 126px;
  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social .social-button {
  border-radius: 50px;
  background-color: #212a3a;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
  background-color: #ee3643;
}
